Le code qui va suivre permet de visualiser toutes les données qui nous ont été donné par les organisateurs du challenge. Elles sont tirées des fichiers conso_train.csv et meteo_train.csv.

In [4]:
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

conso = pd.read_csv('conso_train.csv', sep=';')
meteo = pd.read_csv('meteo_train.csv', sep=';', usecols=['Date UTC', 'T¬∞ (C)', 'P (hPa)', 'HR (%)', 'P.ros√©e (¬∞C)', 'Visi (km)', 'Vt. moy. (km/h)','Vt. raf. (km/h)', 'Vt. dir (¬∞)','RR 3h (mm)','Neige (cm)','Nebul. (octats)'])

display(conso.head())
display(meteo.head())

                        date   puissance
0  2015-09-13T00:59:59+02:00  526.166667
1  2015-09-13T01:59:59+02:00  495.000000
2  2015-09-13T02:59:59+02:00  446.166667
3  2015-09-13T03:59:59+02:00  365.833333
4  2015-09-13T04:59:59+02:00  341.000000

,Date UTC,T¬∞ (C),P (hPa),HR (%),P.ros√©e (¬∞C),Visi (km),Vt. moy. (km/h),Vt. raf. (km/h),Vt. dir (¬∞),RR 3h (mm),Neige (cm),Nebul. (octats)
0,13/09/15 00h00,12.5,1008.7,81.0,9.3,40.0,9.260,18.520,140.0,0.0,NaN,8.0
1,13/09/15 03h00,12.3,1006.4,83.0,9.5,40.0,11.112,16.668,120.0,0.0,NaN,8.0
2,13/09/15 06h00,12.3,1004.7,82.0,9.3,40.0,14.816,22.224,130.0,NaN,NaN,7.0
3,13/09/15 09h00,14.2,1002.9,80.0,10.8,40.0,18.520,31.484,140.0,NaN,NaN,7.0
4,13/09/15 12h00,13.3,1000.8,93.0,12.2,4.0,18.520,38.892,140.0,4.0,NaN,7.0

Ici, on convertit les fichiers .csv sous forme de DataFrame à l'aide de pandas.
On vérifie que la conversion a bien eu lieu en affichant les premières lignes des Dataframe.

In [5]:
meteo.columns = ['date','temp','pression','hr','pros','visi','vmoy','vraf','vdir','rr','neige','nebul']

On renomme les colonnes de la DataFrame météo afin qu'elles soient accessibles plus facilement.

In [6]:
conso.date = pd.to_datetime(conso.date)
conso.index = conso.date

meteo.date = meteo.date.str.replace('h', ':')
meteo.date = pd.to_datetime(meteo.date, format='%d/%m/%y %H:%M')
meteo.date = meteo.date.dt.strftime('%Y-%m-%d %H:%M')
meteo.date = pd.to_datetime(meteo.date)
meteo.index = meteo.date

display(conso.head())
display(meteo.head())

Un des challenges imposés par ces fichiers a été de formater les données.
Par exemple les dates de conso_train.csv sont sous la forme : 2015-09-13T00:59:59+02:00
Mais celles de meteo_train.csv sont sous la forme : 13/09/15 00h00
Il a donc fallu les formater pour pouvoir mettre en relation les deux jeux de données.

In [ ]:
meteo.temp.plot(figsize=(19,9), title='Température', fontsize=14, label='Train', secondary_y=True)


#Resample de la puissance suivant la date par jour (1 point au lieu de 24)
#conso = conso.resample('D').mean()
conso.puissance.plot(figsize=(19,9), title='Consommation', fontsize=14, label='Train')

plt.show()


meteo.pression.plot(figsize=(19,9), title='Pression', fontsize=14, label='Train')
plt.show()
meteo.hr.plot(figsize=(19,9), title='Humidité relative', fontsize=14, label='Train')
plt.show()
meteo.pros.plot(figsize=(19,9), title='Pros', fontsize=14, label='Train')
plt.show()
meteo.visi.plot(figsize=(19,9), title='Visibilité', fontsize=14, label='Train')
plt.show()
meteo.vmoy.plot(figsize=(19,9), title='Vitesse moyenne vent', fontsize=14, label='Train')
plt.show()
meteo.vraf.plot(figsize=(19,9), title='Vitesse rafale vent', fontsize=14, label='Train')
plt.show()
meteo.vdir.plot(figsize=(19,9), title='Vitesse ?', fontsize=14, label='Train')
plt.show()